@import "../../sass/helpers";

.Projects{
  .projects_table {
    margin-top: 20px;
    overflow-x: auto;
    &::-webkit-scrollbar {
      height: 7px;
    }
    @include media(sm) {
      margin-top: 15px;
      font-size: 14px;
    }
    table {
      min-width: 1000px;
      thead {
        tr {
          background-color: $color3e;
          td {
            font-weight: bold;
            padding: 15px 20px;
          }
        }
      }
      tbody {
        tr {
          border: $b13e;
          transition: $mainTransition;
          &:hover {
            background-color: $bgColor;
          }
          td {
            padding: 20px;
            &:not(:last-child) {
              border-right: $b13e;
            }
            .image_holder {
              @include imgsProfile;
            }
            .status {
              color: $whiteColor;
              &.Pending {
                background-color: $orangeColor;
              }
              &.Completed {
                background-color: $greenColor;
              }
              &.Rejected {
                background-color: $redColor;
              }
            }
          }
        }
      }
    }
  }
}