@import "../../sass/helpers";

.searchItems {
  .head {
    margin: 20px 0;
    @include media(sm) {
      margin: 15px 0;
    }
  }
  ul {
    gap: 20px;
    @include media(sm) {
      gap: 15px;
    }
    li {
      .num {
        color: $textColor;
        background-color: $color3e;
      }
    }
  }
}