@keyframes changecolor {
  from {
    background-color: $whiteColor;
  }
  to {
    background-color: $blueColor;
  }
}
@keyframes angleUp {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}