@keyframes changecolor {
  from {
    background-color: $whiteColor;
  }
  to {
    background-color: $blueColor;
  }
}
@keyframes angleUp {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
@keyframes launchImg {
  0%, 100% {
    opacity: 0.3;
  }
  10% {
    opacity: 1;
  }
  20% {
    top: calc(100% - 200px);
    opacity: 1;
  }
  30% {
    top: calc(100% - 152px);
  }
  50% {
    opacity: 1;
    top: -200px;
  }
  55% {
    top: auto;
    bottom: -200px;
    opacity: 1;
  }
  80% {
    top: auto;
    bottom: 50px;
    opacity: 1;
  }
  90% {
    top: auto;
    bottom: 0;
    opacity: 1;
  }
}