@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');

* {
  margin: 0;
  padding: 0;
}
*:focus {
  outline: none;
}
:root {
  // Dark Theme (default)
  --mainTheme: #3b3b3b;
  --textColor: #fff;
  --bgColor: #263340;
  --greyColor: #c0bdbd;
  --color3e: #666;
  body {
    color: var(--textColor);
    font-family: $fontBase;
    // Light Theme
    &.light {
      --mainTheme: #fff;
      --textColor: #000;
      --bgColor: #f1f5f9;
      --greyColor: #888;
      --color3e: #eee;
      ::placeholder {
        color: $greyColor;
      }
      .toggle_label {
        .toggle_checkbox {
          &:checked {
            + .toggle_switch {
              &::before {
                background-color: $mainTheme
              }
            }
          }
        }
      }
      .Friends {
        .wrapper {
          .friend_box {
            .contact {
              svg {
                color: #666;
              }
            }
          }
        }
      }
      .custom_shadow {
        box-shadow: 0 0 10px #ddd;
      }
      .icon_shadow {
        box-shadow: 5px 5px 5px #ddd;
      }
      section {
        box-shadow: 2px 2px 7px #ddd;
      }
    }
  }
}
a {
  text-decoration: none;
}
ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
main {
  padding: 20px;
  @include media(sm) {
    padding: 10px;
  }
}
h1 {
  font-weight: bold;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-top: 5px;
  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 3px;
    border-radius: 2px;
    left: 0;
    bottom: 0;
  }
  &::before {
    width: 145px;
    background-color: $mainTheme;
    @include media(sm) {
      width: 95px;
    }
  }
  &::after {
    width: 50px;
    background-color: $textColor;
    @include media(sm) {
      width: 35px;
    }
  }
}
h2 {
  font-weight: bold;
  font-size: 25px;
  @include media(sm) {
    font-size: 19px;
  }
}
h4 {
  font-weight: bold;
  font-size: 17px;
  @include media(sm) {
    font-size: 14px;
  }
}
section {
  padding: 20px;
  background-color: $mainTheme;
  border-radius: 8px;
  box-shadow: 2px 2px 7px #222;
  @include media(sm) {
    padding: 15px;
  }
}
input[type="text"],
input[type="email"],
textarea {
  padding: 10px;
  resize: none;
  width: 100%;
  border-radius: 6px;
  border: $b13e;
  background-color: $mainTheme;
  font-size: 14px;
  caret-color: $greyColor;
  color: $greyColor;
  @include media(sm) {
    font-size: 13px;
  }
}
input[type="submit"] {
  border: none;
}
::placeholder {
  transition: $mainTransition;
  color: #dfdddd;
}
::selection {
  background-color: $color3e;
  color: $blueColor;
}
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-track {
  background-color: $mainTheme;
}
::-webkit-scrollbar-thumb {
  background-color: $blueColor;
  transition: $mainTransition;
  &:hover {
    background-color: $blueColorAlt;
  }
}
::-webkit-scrollbar-corner {
  background-color: $mainTheme;
}