@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');

* {
  margin: 0;
  padding: 0;
}
*:focus {
  outline: none;
}
body {
  font-family: $fontBase;
}
a {
  text-decoration: none;
}
ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
main {
  padding: 20px;
  @include media(sm) {
    padding: 10px;
  }
}
h1 {
  font-weight: bold;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-top: 5px;
  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 3px;
    border-radius: 2px;
    left: 0;
    bottom: 0;
  }
  &::before {
    width: 145px;
    background-color: $whiteColor;
    @include media(sm) {
      width: 95px;
    }
  }
  &::after {
    width: 50px;
    background-color: $blackColor;
    @include media(sm) {
      width: 35px;
    }
  }
}
h2 {
  font-weight: bold;
  font-size: 25px;
  @include media(sm) {
    font-size: 19px;
  }
}
h4 {
  font-weight: bold;
  font-size: 17px;
  @include media(sm) {
    font-size: 14px;
  }
}
section {
  padding: 20px;
  background-color: $whiteColor;
  border-radius: 8px;
  @include media(sm) {
    padding: 15px;
  }
}
input[type="text"],
input[type="email"],
textarea {
  padding: 10px;
  resize: none;
  width: 100%;
  border-radius: 6px;
  border: $b13e;
  background-color: $whiteColor;
  font-size: 14px;
  @include media(sm) {
    font-size: 13px;
  }
}
input[type="submit"] {
  border: none;
}
::placeholder {
  transition: $mainTransition;
}
::selection {
  background-color: $color3e;
  color: $orangeColor;
}
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-track {
  background-color: $whiteColor;
  // border-radius: 15px;
}
::-webkit-scrollbar-thumb {
  background-color: $blueColor;
  // border-radius: 15px;
  transition: $mainTransition;
  &:hover {
    background-color: $blueColorAlt;
  }
}
::-webkit-scrollbar-corner {
  background-color: $whiteColor;
}