@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');

* {
  margin: 0;
  padding: 0;
}
*:focus {
  outline: none;
}
// --mainTheme: #fff;
// --textColor: #000;
// --bgColor: #f1f5f9;
// --greyColor: #888;
// --color3e: #eee;
:root {
  --mainTheme: #3b3b3b;
  --textColor: #fff;
  --bgColor: #263340;
  --greyColor: #c0bdbd;
  --color3e: #666;

  // --mainTheme: #fff;
  // --textColor: #000;
  // --bgColor: #f1f5f9;
  // --greyColor: #888;
  // --color3e: #eee;
  
  ::placeholder {
    color: $greyColor; //white
    color: #dfdddd; //black
  }
  body {
    // #2d3640
    color: var(--textColor);
    font-family: $fontBase;
    // --mainTheme: #1a1719;
    // --textColor: #fff;
    // --bgColor: #263340;
    // --greyColor: #888;
    &.dark {
      ::placeholder {
        color: #dfdddd;
      }
      .toggle_label {
        .toggle_checkbox {
          &:checked {
            + .toggle_switch {
              &::before {
                background-color: #fff;
              }
            }
          }
        }
      }
      .Friends {
        .wrapper {
          .friend_box {
            .contact {
              svg {
                color: $greyColor;
              }
            }
          }
        }
      }
      .custom_shadow {
        box-shadow: 0 0 10px #111;
      }
      .icon_shadow {
        box-shadow: 5px 5px 5px #111;
      }
      section {
        box-shadow: 2px 2px 7px #111;
      }
    }
  }
}
body {
  // 3b3b3b
  // 15161D
  // 0f0f0
  // 191919
  // 262526
  // --colorBlack: #0C0C0C;
  // --colorBlack: #3b3a37;
  // --colorDark: #666;
  // --bgDark: #222;
  // --bgDark2: #15161D;
  // --bg-dark3: #171613;
  // --bg-dark4: #121212;
  // --bg-dark5: #181818;
  // --bgColor: #1a1719;
}
a {
  text-decoration: none;
}
ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
main {
  padding: 20px;
  @include media(sm) {
    padding: 10px;
  }
}
h1 {
  font-weight: bold;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-top: 5px;
  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 3px;
    border-radius: 2px;
    left: 0;
    bottom: 0;
  }
  &::before {
    width: 145px;
    background-color: $mainTheme;
    @include media(sm) {
      width: 95px;
    }
  }
  &::after {
    width: 50px;
    background-color: $textColor;
    @include media(sm) {
      width: 35px;
    }
  }
}
h2 {
  font-weight: bold;
  font-size: 25px;
  @include media(sm) {
    font-size: 19px;
  }
}
h4 {
  font-weight: bold;
  font-size: 17px;
  @include media(sm) {
    font-size: 14px;
  }
}
section {
  padding: 20px;
  background-color: $mainTheme;
  border-radius: 8px;
  box-shadow: 2px 2px 7px #111;
  @include media(sm) {
    padding: 15px;
  }
}
input[type="text"],
input[type="email"],
textarea {
  padding: 10px;
  resize: none;
  width: 100%;
  border-radius: 6px;
  border: $b13e;
  background-color: $mainTheme;
  font-size: 14px;
  caret-color: $greyColor;
  color: $greyColor;
  @include media(sm) {
    font-size: 13px;
  }
}
input[type="submit"] {
  border: none;
}
::placeholder {
  transition: $mainTransition;
}
::selection {
  background-color: $color3e;
  color: $blueColor;
}
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-track {
  background-color: $mainTheme;
  // border-radius: 15px;
}
::-webkit-scrollbar-thumb {
  background-color: $blueColor;
  // border-radius: 15px;
  transition: $mainTransition;
  &:hover {
    background-color: $blueColorAlt;
  }
}
::-webkit-scrollbar-corner {
  background-color: $mainTheme;
}