.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.custom_shadow {
  box-shadow: 0 0 10px #111;
}
.icon_shadow {
  box-shadow: 5px 5px 5px #111;
}
.fs_15 {
  font-size: 15px;
  @include media(sm) {
  font-size: 13px;
  }
}
.fs_16 {
  @include media(sm) {
    font-size: 14px;
  }
}
.p_custom {
  color: $greyColor;
  font-size: 15px;
  @include media(sm) {
    font-size: 13px;
  }
}
.hide_mobile {
  @include media(sm) {
    display: none;
  }
}
.custom_btn {
  color: #fff;
  background-color: $blueColor;
  transition: $mainTransition;
  width: fit-content;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 15px;
  @include media(sm) {
    font-size: 13px;
  }
  &:hover {
    background-color: $blueColorAlt;
    color: #fff;
  }
}