$whiteColor: #fff;
$blackColor: #000;
$bgColor: #f1f5f9;
$color3e: #eee;
$blueColor: #0075ff;
$blueColorAlt: #0d69d5;
$orangeColor: #f59e0b;
$greenColor: #22c55e;
$redColor: #f44336;
$greyColor: #888;
$fontBase: 'Open Sans', sans-serif;
$mainTransition: .3s;
$b13e: 1px solid $color3e;
$b13c: 1px solid #ccc;
$colors: 
"blue" $blueColor,
"orange" $orangeColor,
"green" $greenColor,
"red" $redColor;
$social: 
"Github" #6cc644,
"Instagram" #833ab4,
"Linkedin" #00a0dc,
"Facebook" #1877f2,
"Gmail" #fd1d1d,
"Messenger" #0084ff,
"WhatsApp" #25d366,
"Twitter" #1da1f2,
"Youtube" #ff0000;