$whiteColor: #fff;
$blackColor: #000;
$bgColor: #f1f5f9;
$color3e: #eee;
$blueColor: #0075ff;
$blueColorAlt: #0d69d5;
$orangeColor: #f59e0b;
$greenColor: #22c55e;
$redColor: #f44336;
$greyColor: #888;
$fontBase: 'Open Sans', sans-serif;
$mainTransition: .3s;
$b13e: 1px solid $color3e;
$b13c: 1px solid #ccc;