@import "../../sass/helpers";

.wrapper {
  @include wrapper(450px, 200px);
  .welcome {
    padding: 0;
    @include media(sm) {
      text-align: center;
    }
    .intro {
      background-color: $color3e;
      padding: 20px;
      .intro_name{

      }
      img {
        width: 200px;
      }
    }
    .avatar {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      border: 2px solid $whiteColor;
      padding: 2px;
      margin-top: -32px;
      margin-left: 20px;
      @include media(sm) {
        margin-left: 0;
      }
    }
    .welcome_body {
      display: flex;
      padding: 20px 0;
      margin: 40px 0;
      border-top: $b13e;
      border-bottom: $b13e;
      @include media(sm) {
        flex-direction: column;
        gap: 20px;
        margin: 20px 0;
      }
      > div {
        flex: 1;
        text-align: center;
        span {
          margin-top: 5px;
          color: $greyColor;
        }
      }
    }
    a {
      display: block;
      margin: 0 20px 20px auto;
    }
  }
}