@import '../../sass/helpers';

.BackupManager {
  .CustomRadio {
    padding-bottom: 10px;
    &:last-child {
      border-bottom: $b13e;
    }
  }
  .server {
    margin: 15px 0;
    gap: 10px;
    @include media(sm) {
      flex-direction: column;
    }
    input {
      display: none;
      &:checked {
        + div {
          border-color: $blueColor;
          label {
            color: $blueColor;
          }
        }
      }
    }
    > div {
      border: 2px solid $color3e;
      border-radius: 8px;
      transition: $mainTransition;
      label {
        cursor: pointer;
        padding: 15px;
        width: 100%;
        transition: $mainTransition;
        span {
          margin-top: 5px;
        }
      }
    }
  }
}