@import '../../sass/helpers';

.SecurityInfo {
  ul {
    li {
      padding: 15px 0;
      &:not(:last-child) {
        border-bottom: $b13e;
      }
      button {
        border: none;
        &.devices {
          color: $blackColor;
          background-color: $color3e;
        }
      }
    }
  }
}