@import "../../sass/helpers";
.sidebar {
  width: 250px;
  height: 100vh;
  background-color: $mainTheme;
  padding: 20px;
  z-index: 10;
  @include media(sm) {
    width: 58px;
    padding: 10px;
  }
  &.smallSize {
    transition: $mainTransition;
    width: 58px;
    padding: 10px;
    .title {
      font-size: 14px;
      &::before {
        width: 40px;
      }
      &::after {
        border-width: 2px;
        width: 12px;
        height: 12px;
        bottom: -6px;
      }
    }
    ul {
      margin-top: 30px;
      gap: 10px;
      li a span {
        display: none;
      }
    }
  }
  .title {
    padding-bottom: 20px;
    font-size: 20px;
    @include media(sm) {
      font-size: 14px;
    }
    &::before {
      content: "";
      position: absolute;
      width: 85px;
      height: 1px;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      background-color: $textColor;
      @include media(sm) {
        width: 40px;
      }
    }
    &::after {
      content: "";
      position: absolute;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: $textColor;
      border: 6px solid $mainTheme;
      transform: translateX(-50%);
      left: 50%;
      bottom: -12px;
      @include media(sm) {
        border-width: 2px;
        width: 12px;
        height: 12px;
        bottom: -6px;
      }
    }
  }
  ul {
    margin-top: 40px;
    gap: 10px;
    @include media(sm) {
      margin-top: 30px;
      gap: 10px;
    }
    li {
      a {
        display: block;
        transition: $mainTransition;
        padding: 8px;
        border-radius: 6px;
        color: $textColor;
        &.active,
        &:hover {
          background-color: $color3e;
          box-shadow: 2px 2px 7px var(--color3e);
        }
        svg {
          margin-right: 10px;
          @each $colorName, $color in $colors {
            &.#{$colorName} {
              color: $color;
            }
          }
        }
        span {
          @include media(sm) {
            display: none;
          }
        }
      }
    }
  }
}