@import "../sass/helpers";

.layout_content {
    background-color: $bgColor;
    min-height: 100vh;
    overflow: hidden;
    padding-left: 250px;
    @include media(sm) {
        padding-left: 58px;
    }
}